h2{
    background-color: aqua;
    /* width: 50%; */
}
body{
    height: 1200px;

}



.naeem{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    position: relative;
}

.items{
    width: 80px;
    height: 80px;
    display: inline-block;
}

#relative{
    background-color: brown;
    position: relative;
    top: 200px;
}
#absolute{
    background-color: cadetblue;
    position: absolute;
    right: 30px;
}

#fixed{
    background-color: crimson;
    position: fixed;
    top:400px;

}
#newBox{
    background-color: gray;
}

#sticky{
    background-color:rebeccapurple;
    position: sticky;
    top: 20px;

}
p {
    position: relative;
}

.word{
    color: hotpink;
    position: absolute;
    top: 0;
}

#background{

    background-image: url(https://www.bmw-m.com/content/dam/bmw/marketBMW_M/common/topics/magazine-article-pool/2018/bmw-m2-coupe-edition-black-shadow/bmw-m2-coup%C3%A9-black-shadow-stage-teaser-si.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-attachment: fixed;
}